{% extends 'base.html' %}
{% load static %}
{% block title %}Career{% endblock %}
{% block content %}

         
            <!-- Breadcrumbs Start -->
            <div class="rs-breadcrumbs career">
                <div class="breadcrumbs-inner text-center">
                    <h1 class="page-title">Current Openings</h1>
                    <ul>
                        <li title="Braintech - IT Solutions and Technology Startup HTML Template">
                            <a class="active" href="{% url 'index' %}">Home</a>
                        </li>
                       <li>Career</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumbs End -->

            <!-- Contact Section Start -->
            <div class="rs-contact pt-120 md-pt-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 md-mb-60">
                           <div class="contact-box">
                                <div class="sec-title mb-45">
                                    <h2 class="title white-color">Send your resume To</h2>
                                </div>
                               <div class="address-box mb-25">
                                   <div class="address-icon">
                                       <i class="fa fa-home"></i>
                                   </div>
                                   <div class="address-text">
                                        <span class="label">Email:</span>
                                        <a href="tel:123222-8888"> hrhotline@essbeeinfotech.com</a>
                                   </div>
                               </div>
                             
                           </div>
                        </div> 
                        <div class="col-lg-8 pl-70 md-pl-15">
                            <div class="contact-widget">
                               <div class="sec-title2 mb-40">
                                   <span class="sub-text contact mb-15">POSITION</span>
                                   
                                <p style="text-align: justify;">
                                    <u>Android/iOS Mobile Developer</u><br>
                                    Experience: 1-2 Years<br>
                                    Qualification: Degree<br>
                                    Description:
                                            -  Candidate should have basic knowledge in Android/iOS Development
                                    <br>
                                            -  Should have problem solving capabilities <br>
                                    
                                    Last Date:Aug. 31, 2021, 8:26 a.m.
                                </p>
                                <p style="text-align: justify;">
                                   <u> Web Designer</u><br>
                                    Experience:1-2 Years<br>
                                    Qualification:Degree<br>
                                    Description:
                                         -  Coding Experiance in  HTML,CSS,Javascript,jQuery 
                                    <br>
                                         -   Must have experiance in Web Development <br>
                                    
                                    Last Date:Aug. 31, 2021, 8:53 a.m.
                                </p>
                               </div>
                                <div id="form-messages"></div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- Contact Section Start -->

        </div> 
        <!-- Main content End -->
     
        <!-- Footer Start -->
      

        <!-- start scrollUp  -->
        <div id="scrollUp" class="orange-color">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End scrollUp  -->

        <!-- Search Modal Start -->
        <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="flaticon-cross"></span>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Search Here..." type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Modal End -->

{% endblock %}